
html {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff;
  background-image: url("bgimg.png"); 
}

body {
  width: 600px;
  margin: 10px auto;
  background-color: #ffffff;
  padding: 20px;
  border: 8px solid #000000;
}

h1 {
  margin: 0;
  font-size: 60px;
  text-align: center;
  font-family: "BBH Bartle", sans-serif;
  text-shadow: -5px 5px 2px #00ddcc;
}

h2 {
  font-size: 30px;
  text-align: center;
  font-family: "BBH Bartle", sans-serif;
  text-shadow: 5px 5px 2px #ff88dd;
}


p, ul, ol, blockquote {
  color: black; 
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}

ul, ol {
  display: block;
  padding: 3px;
  padding-left: 30px;
  margin: 0 auto;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.content-box {
  display: block;
  background-color: #ffffff;
  max-width: 600px;
  clear: both;
}

/* navigation line stylings */

nav {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

nav a {
  color: #ff88dd;
  text-decoration: none;
  font-weight: bold;
}

/* Stuff for blog posts to look good */



.posthead {
  display: flex;
  align-items: flex-start;
  background: #ffffff;
  gap: 0;
  border: 3px solid #0ac5b6;
  border-bottom: 0px;
  padding: 5px;
}

.posttitle {
  border: 0px solid #000000;
  display: flex;
  flex: auto;
  flex-direction: column;
  text-align: left;
}

.posthead h3 {
  margin: 1rem;
  margin-bottom: 3px;
  font-size:xx-large;
  text-shadow: 2px 3px 2px #00ddcc;
}

.posthead h4 {
  margin: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.posthead p {
  text-align: right;
  margin-top: auto;
  margin-right: 1rem;
  font-size: smaller;
  color: #888888
}

.posthead img {
  border:0px solid #000000;
  width: 120;
  height: 110;
}

.tagrow {
  display: flex;
  justify-content: flex-end;
  gap: 0.4rem;
  color: #ff88dd; 
  /* border-bottom: 3px solid #0ac5b6; */
}

.tagrow a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 0.5rem;
  
}

.tagrow a:hover,
.tagrow a:focus {
  text-decoration: underline;
  color: #0ac5b6;
}


/* flex stuff to make images and text work together */


.animal {
  float: right; 
  margin: 0 0 1em 1em; 
  width: 201px;
}

.animal-left {
  float: left; 
  margin: 0 1em 1em 0; 
  width: 201px;
}



/* Mobile adaptation stuff */

@media (max-width: 600px) {
  body {
    font-size: 22px;
  
  }
  p, ul, span {
       font-size: 1.3em;
    line-height: 1.4; 
  
  }
  
h1, h2 {
  font-size: 1.8em;
}
  
}
